.tree-container {
  margin: 5%;
  border: black solid;
  //width: 1000px;
  height: fit-content;
  justify-content: center;
}
.pull-right {
  float: right !important;
}
.no-link {
  text-decoration: none;
}
$color-primary: rgba(67,66,93,255);
$color-text: #43425d;
$color-text-lite: rgba(#4d4f5c,.5);

p {
  font-family: Lato;
}

.highlight{
  background-color: red;
}

.hideChildren>div{
  display: none;
}
.div {
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  margin: 10px;
  justify-content: start;
  align-content: center;
  border-width: thin;
}

//.example-list {
//  width: 100%;
//  max-width: 100%;
//  border: solid 1px #ccc;
//  min-height: 60px;
//  display: block;
//  background: white;
//  border-radius: 4px;
//  overflow: hidden;
//}
//
//.example-box {
//  padding: 20px 10px;
//  border-bottom: solid 1px #ccc;
//  color: rgba(0, 0, 0, 0.87);
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: space-between;
//  box-sizing: border-box;
//  cursor: move;
//  background: white;
//  font-size: 14px;
//}
//
//.cdk-drag-preview {
//  box-sizing: border-box;
//  border-radius: 4px;
//  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//  0 8px 10px 1px rgba(0, 0, 0, 0.14),
//  0 3px 14px 2px rgba(0, 0, 0, 0.12);
//}
//
//.cdk-drag-animating {
//  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//}
//
//.example-box:last-child {
//  border: none;
//}
//
//.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//}
//
//.example-custom-placeholder {
//  background: #ccc;
//  border: dotted 3px #999;
//  min-height: 60px;
//  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//}

.example-container {
  width: 100%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
span {
  padding-left: 20px;
  font-weight: bold;
}
h3 {
  width: 400px;
  margin-top: 20px;
}
form {
  margin-top: -65px;
  margin-left: 20px;
}
