<form [formGroup]="form">
  <app-action-button (remove)="remove.emit()"
                     (addGroup)="addGroup()">
  </app-action-button>
      <ng-container>
        <mat-accordion>
          <mat-expansion-panel formArrayName="groups"  *ngFor="let s of _groupsFormArray?.controls; index as i">
            <mat-expansion-panel-header (click)="expandRow(i)">
              <mat-panel-title>
                Node: {{data + '. ' + this._groupsFormArray.value[i].id}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-action-group [data]="data + '. ' + this._groupsFormArray.value[i].id"
                              (remove)="deleteGroupFromArray(i)"
                              *ngIf="i === expandedIndex"
                              [formControlName]="i">
            </app-action-group>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
</form>
