<div class="tree-container">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="card">
    <div class="card-header panel-heading">
      <span class="left-label" style="font-size: 18px; font-weight: bold; ">Tree structure</span>
      <a class="pull-right no-link" [ngClass]="{'collapsed': !isExpanded}" data-toggle="collapse" href="javascript:void(0);" (click)="expand()" role="button"
         [attr.aria-expanded]="isExpanded" aria-controls="nva"> {{ isExpanded ? 'Close' : 'Open' }}
      </a>
    </div>
    <div [ngClass]="{'show': isExpanded}" id="nva" class="collapse" role="tabpanel" aria-labelledby="nva_heading" data-parent="#nva"
         [attr.aria-expanded]="isExpanded">
      <div class="card-body">

        <p>
          <button type="button" (click)="addEmployee()">Add</button>
        </p>

        <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
          <div formArrayName="employees" class="ml-4">
            <div *ngFor="let employee of employees().controls; let empIndex=index">
              <div [formGroupName]="empIndex" style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;">
                {{empIndex+1}}
                <button (click)="removeEmployee(empIndex)">Remove</button>
                <button type="button" (click)="addEmployeeSkill(empIndex)">Add Skill</button>
                <div formArrayName="skills" class="ml-4">
                  <div *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index">
                    <div [formGroupName]="skillIndex">
                      {{empIndex + 1 + '.' + skillIndex}}
                      <button (click)="removeEmployeeSkill(empIndex,skillIndex)">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>

