.tree-container {
  margin: 5%;
  border: black solid;
  //width: 1000px;
  height: fit-content;
  justify-content: center;
}
.pull-right {
  float: right !important;
}
.no-link {
  text-decoration: none;
}
$color-primary: rgba(67,66,93,255);
$color-text: #43425d;
$color-text-lite: rgba(#4d4f5c,.5);

p {
  font-family: Lato;
}

.highlight{
  background-color: red;
}

.hideChildren>div{
  display: none;
}
.div {
  border-radius: 5px;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
  margin: 10px;
  justify-content: end;
  align-content: center;
  border-width: thin;
}
a[aria-expanded=true] .fa-chevron-right {
  display: none;
}
a[aria-expanded=false] .fa-chevron-down {
  display: none;
}

