<div class="tree-container">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="card">
    <div class="card-header panel-heading">
      <span class="left-label" style="font-size: 18px; font-weight: bold; ">Tree structure</span>
      <a class="pull-right no-link" [ngClass]="{'collapsed': !isExpanded}" data-toggle="collapse" href="javascript:void(0);" (click)="expand()" role="button"
         [attr.aria-expanded]="isExpanded" aria-controls="nva"> {{ isExpanded ? 'Close' : 'Open' }}
      </a>
    </div>
    <div [ngClass]="{'show': isExpanded}" id="nva" class="collapse" role="tabpanel" aria-labelledby="nva_heading" data-parent="#nva"
         [attr.aria-expanded]="isExpanded">
      <div class="card-body">
<!--        [formGroup]="Form"-->
        <form class="container mt-3" (ngSubmit)="logValue()">
<!--          formArrayName="array"-->
          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-primary mb-2" (click)="addItem()">Add</button>
<!--              *ngFor="let li of spec.controls;-->
              <div class="container border mb-4 p-3" *ngFor="let li of myArray; let i = index;">
                <div class="row">
                  <h6>{{li.id}}</h6>
                  <div class="col-12 text-right">
                    <button type="button" class="btn btn-primary btn-sm" (click)="addItem(li.id)">+</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeItem(i)">-</button>
                  </div>
                  <div *ngFor="let li2 of resultArray; let j = index;">
                    <div class="container border-danger" *ngIf="li2[j]">
                      <div class="row">
                        <h6>{{resultArray}}</h6>
                        <div class="col-12 text-right">
                          <button type="button" class="btn btn-primary btn-sm" (click)="addItem(resultArray)">+</button>
                          <button type="button" class="btn btn-danger btn-sm" (click)="removeItem(resultArray)">-</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>


<!--console.log(i - 1);-->
<!--const index = this.list.findIndex(x => x.id === i);-->
<!--console.log(index);-->
</div>
