.main-container {
  width: 100%;
   display: flex;
   flex-wrap: wrap;
  background-size: cover;
}
.header {
  height: 150px;
  width: 100%;
}
.navbar {
  margin-top: 30px;
}
.logo {
 padding-left: 100px;
}

.nav-item {
  margin: 0px 10px;
  border-bottom: #5956E9;
  color: #999FAE;
  a {
    font-size: 16px;
    color: black;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
  }
}
.nav-item:hover {
  color: #292930;
}

.middle-nav {
  margin-left: 100px;
}
/* Ellipse 4 */
.yellow-eclipse {
  position: absolute;
  left: -10px;
  top: -10px;
}
.blue-eclipse {
  position: absolute;
  width: 800px;
  height: 1000px;
  right: -350px;
  top: -50px;
  /* Color/Accent 01 */
  background: #5956E9;
  mix-blend-mode: normal;
  border-radius: 50%;
}
.pink-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 790px;
  right: 470px;
  top: 900px;
  background: #FAB8C4;
  mix-blend-mode: normal;
  border-radius: 50%;
  margin-top: -150px;
}
.grey-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 972px;
  right: 200px;
  bottom: 406px;
  top: 934px;
  background: #bbbbbb;
  mix-blend-mode: normal;
  border-radius: 50%;

}
.square {
  height: 40px;
  width: 40px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-right: 10px;
  padding: 8px;
}
.navbar-nav {
  padding-left: 100px;
}
.nav-btn2 {
  margin-left: 450px;
}
.nav-btn {
  margin-left: 500px;
  margin-right: -200px;
  background-color: #FAB8C4;
}
.front-container {
  margin-left: 15%;
  margin-right: 15%;
  border: black;
  h2 {
    font-size: 80px;
    font-family: "DM Sans";
    font-weight: 700;
    style: normal;
    font-size: 80px;
    line-height: 95.35px;
  }
  p {
    font-family: Poppins;;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #999FAE;
  }
}
.dropdown-menu {
  width: 1150px;
  height: fit-content;
  margin-left: -550px;
  padding: 30px;
  margin-right: -550px;
  border-radius: 20px;
  h5 {
    font-size: 20px;
    font-family: DM Sans;
  }
  h6 {
    font-size: 16px;
    font-family: DM Sans;
    font-weight: 500;
    line-height: 22px;
  }
  h6:hover {
    color: #5956E9;
    font-weight: 600;
  }
  p {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
  }
}
.dropdown-card {
  padding-left: 10px;
  row {
    margin-left: 0px;
  }
  p {
    font-size: 12px;
  }
  h6 {
    font-family: Poppins;
  }
}
.bottom-container {
  margin-top: 200px;
  background-color: #525260;
  padding: 100px;
}
//h3 {
//  font-size: 70px;
//  color: whitesmoke;
//}
//h2 {
//  font-size: 80px;
//}
//h6 {
//  font-size: 20px;
//  font-family: DM Sans;
//  font-weight: 500;
//  line-height: 22px;
//}
//h5 {
//  font-size: 26px;
//  color: whitesmoke;
//}
//p {
//  font-size: 18px;
//  font-family: Poppins;
//  font-style: normal;
//}
img {
  opacity: 2;
}
.ft-card-text {
  color: whitesmoke;
  font-size: 14px;
  font-weight: normal;
}
.btn-1 {
  background-color: #5956E9;
  color: whitesmoke;
  font-family: Poppins;
  font-size: 16px;
  border-radius: 15px;
}
.btn-2 {
  color: #999FAE;
  font-family: Poppins;
  font-size: 16px;
}
.btn-2:hover {
  color: #5956E9;
}
.btn-2:hover {
  background-color: #5956E9;
  color: whitesmoke;
}

.carousel-indicators {
  position: absolute;
  margin-left: 0;
  left: 0%;
  //width: 100%;
  // padding-right: 20%;
}
.carousel-indicators li i {
  //width: 10px;
  //height: 10px;
  border-radius: 100% ;
  opacity: 1;
  background: #374B5C 0% 0% no-repeat padding-box;
}
.carousel-indicators li:hover {
  background: #00DBD0 0% 0% no-repeat padding-box;
}
.carousel {
  .carousel-inner {
    display: flex;
    left: 30%;
    //padding: 100px;
    .carousel-item {
      h5 {
        font-weight: 500;
        font-size: 24px;
        font-family: DM Sans;
        color: #ffffff;
      }
      p {
        font-size: 16px;
        font-family: Poppins;
        font-weight: 400;
        color: #8B8B99;
      }
      .img-class {
        .col-sm {
          align-items: center;
          text-align: center;
          padding-top:  15px;
          padding-bottom: 15px;
          img {
            opacity: 1;
            width: 100px;
            height: 130px;
          }
          .middle-img {
            width: 120px;
            height: 80px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}
.carousel-indicators-numbers {
  li {
    text-indent: 0;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #fff;
    left: 0%;
    background-color: #999;
    //transition: all 0.25s ease;
    &.active, &:hover {
      // margin: 0 2px;
      width: 30px;
      height: 30px;
      background-color: #337ab7;
    }
  }
}
.move-right {
  margin-left: 400px;
}
.footer {
  margin-left: 10%;
  margin-right: 10%;
  h5 {
    font-size: 24px;
    color: #ffffff;
    font-family: DM Sans;
  }
  h3 {
    font-family: DM Sans;
    font-weight: 500;
    style: normal;
    font-size: 70px;
    color: whitesmoke;
  }
  p {
    font-size: 20px;
    font-family: "DM Sans";
    color: #ffffff;
  }
  a {
    color: #8B8B99;
    font-family: Poppins;
    font-size: 16px;
  }
  a:hover {
    color: #ffffff;
  }
}
