<div [ngClass]="{'show': isExpanded}" id="nva" class="collapse" role="tabpanel" aria-labelledby="nva_heading" data-parent="#nva"
     [attr.aria-expanded]="isExpanded">
  <div class="card-body">
<!--    <button (click)="sendValue()">Send data</button>-->
    <form #addressForm="ngForm" class="container mt-3" (ngSubmit)="logValue()">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="container border" *ngFor="let li of list; let i = index;">
            <div class="row">
              <div class="col-6">
                <h4>{{i+1}}</h4>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-primary btn-sm" (click)="sendValue(i+1)">+</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="removeItem(i)">-</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
