<div class="tree-container">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="card">
    <div class="card-header panel-heading">
      <span class="left-label" style="font-size: 18px; font-weight: bold; ">Tree structure</span>
      <a class="pull-right no-link" [ngClass]="{'collapsed': !isExpanded}" data-toggle="collapse" href="javascript:void(0);" (click)="expand()" role="button"
         [attr.aria-expanded]="isExpanded" aria-controls="nva">
        <i class="fa fa-chevron-right pull-right"></i>
        <i class="fa fa-chevron-down pull-right"></i>
      </a>
    </div>
    <div [ngClass]="{'show': isExpanded}" id="nva" class="collapse" role="tabpanel" aria-labelledby="nva_heading" data-parent="#nva"
         [attr.aria-expanded]="isExpanded">
      <div class="card-body">
        <div>

          <form [formGroup]="form">
            <section class="top-bar mb-4">
              <button type="button" class="btn btn-outline-primary"
                      (click)="_addGroup()">Add node</button>
            </section>
            <ng-container formGroupName="main">
              <ng-container formArrayName="groups">

                <div cdkDropList (cdkDropListDropped)="drop($event)">
                  <div cdkDrag style="margin-bottom: 10px;" *ngFor="let group of groupsFormArray?.controls; index as i" >
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    <div class="row div example-list">
                      <h3 class="text-left pl-2 " style="width: 200px; margin-top: 20px;">
                        <span style="padding-left: 20px;">Node: {{this.groupsFormArray.value[i].id}}</span>
<!--                        <button type="button"  class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"-->
<!--                                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">-->
<!--                          Collapse Toggle-->
<!--                        </button>-->
                      </h3>
                    </div>
<!--                  <div class="row div">-->
<!--                    <button style="margin-top: 15px; margin-bottom: 15px; margin-left: 20px;" (click)="expandRow(i)" class="btn btn-outline-primary">Open</button>-->
<!--                    <h3 class="text-left pl-2" style="width: 200px; margin-top: 20px;"><span style="padding-left: 20px;">Node: {{this.groupsFormArray.value[i].id}}</span></h3>-->
<!--                  </div>-->
                    <app-action-group (remove)="delete(i)"
                                      [formControlName]="i"
                                      [data]="this.groupsFormArray.value[i].id"
                                      [formLabel]="'Parent Node: '+ this.groupsFormArray.value[i].id"
                                      id="collapseExample" [(ngbCollapse)]="isCollapsed"
                                      >
                    </app-action-group>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </form>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
<!--<pre>{{ form.value | json }}</pre>-->
<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let group of this.groupsFormArray.controls; index as i" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    {{group.value.id}}
  </div>
</div>
