<div class="tree-container">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="card">
    <div class="card-header panel-heading">
      <span class="left-label" style="font-size: 18px; font-weight: bold; ">Tree structure</span>
      <a class="pull-right no-link" [ngClass]="{'collapsed': !isExpanded}" data-toggle="collapse" href="javascript:void(0);" (click)="expand()" role="button"
         [attr.aria-expanded]="isExpanded" aria-controls="nva"> {{ isExpanded ? 'Close' : 'Open' }}
      </a>
    </div>
    <div [ngClass]="{'show': isExpanded}" id="nva" class="collapse" role="tabpanel" aria-labelledby="nva_heading" data-parent="#nva"
         [attr.aria-expanded]="isExpanded">
      <div class="card-body">
        <div>
            <section class="top-bar">
              <button type="button" class="btn btn-outline-primary"
                      label="Add Statement"
                      (click)="_addGroup()">add node</button>
            </section>
            <form [formGroup]="form">
              <ng-container formGroupName="main">
                <ng-container formArrayName="groups">
                  <ng-container *ngFor="let group of groupsFormArray?.controls; index as i">
                    <div (click)="expandRow(i)"><button class="btn btn-outline-primary">Open</button></div>
                      <app-action-group (remove)="delete(i)"
                                        [formControlName]="i"
                                        [data]="this.groupsFormArray.value[i].id"
                                        [formLabel]="'parent: ' +  this.groupsFormArray.value[i].id"
                                        *ngIf="i === expandedIndex"
                                        style="margin-left: 20px;">
                      </app-action-group>
                  </ng-container>
                </ng-container>
              </ng-container>

            </form>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
<pre>{{ form.value | json }}</pre>
